<!DOCTYPE html>
<html>
  <head>
      <script src="https://gw.alipayobjects.com/os/lib/antv/g6/4.3.11/dist/g6.min.js"></script>
    <title>Flask with G6</title>
  </head>
  <body>
    <h1>Flask with G6</h1>

    <button id="send_button">Send JSON</button>
    <br />
    <div id="result"></div>
    <div id="mountNode"></div>

    

    <script>
      // JavaScript code to send dummy JSON data to the server when the button is clicked

      const sendData = async () => {
        try {
          let data = JSON.stringify({
            name: "John Doe",
            age: 30,
            city: "New York",
          });

          const response = await fetch("/api", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: data, // body data type must match "Content-Type" header
          });

          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
          // parses JSON response into JavaScript object
          const result = await response.json();
          return result;
        } catch (error) {
          console.log(error);
          throw error;
        }
      };

      document
        .getElementById("send_button")
        .addEventListener("click", async () => {
          const result = await sendData();
          console.log(result);
          document.getElementById("result").innerHTML = JSON.stringify(result);
        });
    </script>


<script>
    // For graph rendering with G6
    const main = async () => {
      try {
        const response = await fetch("/static/graph_data.json");
        const graphdata = await response.json();

        // Instantiate the Graph
        const graph = new G6.Graph({
          container: "mountNode", // String | HTMLElement, required, the id of DOM element or an HTML node
          width: 800, // Number, required, the width of the graph
          height: 500, // Number, required, the height of the graph
        });

        graph.data(graphdata); // Load the data defined in Step 2
        graph.render(); // Render the graph
      } catch (error) {
        console.log(error);
      }
    };
    main();
  </script>
  </body>
</html>
