<html>
  <head>
    <script src="https://gw.alipayobjects.com/os/lib/antv/g6/4.3.11/dist/g6.min.js"></script>
    <title>Flask Tutorial</title>
  </head>
  <body>
    <div id="mountNode"></div>
    {% if form_data %}
      {% for key,value in form_data.items() %}
    <h2> {{key}}</h2>
    <p> {{value}}</p>
      {% endfor %}
    {% endif %}
    
      <form action="/" method="POST">
        <p>
          Name <input type="text" name="Name" />
        </p>
        <p>
          <input type="submit" value="Submit" />
        </p>
      </form>

    <script>
      const main = async () => {
        try {
          const response = await fetch("/static/graph_data.json");
          const graphdata = await response.json();

          // Instantiate the Graph
          const graph = new G6.Graph({
            container: "mountNode", // String | HTMLElement, required, the id of DOM element or an HTML node
            width: 800, // Number, required, the width of the graph
            height: 500, // Number, required, the height of the graph
          });

          graph.data(graphdata); // Load the data defined in Step 2
          graph.render(); // Render the graph
        } catch (error) {
          console.log(error);
        }
      };
      main();

      // Reload the page every 20 minutes (1200 seconds)
      // const reloadInterval = 20 * 60 * 1000; // 20 minutes in milliseconds
      //   setTimeout(() => {
      //       location.reload();
      //   }, reloadInterval);

      // Remember that automatically reloading a page at regular intervals can have implications for user experience, especially if users are actively interacting with the page.
    </script>
  </body>
</html>
